nav{
	width: 100vw;
	height: 6vh;

	position: fixed;
	top: 0;

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 50px;

	background: #131313;
	color: white;

	z-index: 99999;

	user-select: none;

	padding: 0 320px;
}

nav a, nav p{
	display: flex;
	align-content: center;
	align-items: center;

	text-decoration: none;
	color: white;

	font-size: 1.125rem;
	padding: 10px 20px;

}

.nav-links{
	display: flex;
	gap: 20px;

	list-style-type: none;
}

.nav-links li{

	position: relative;


	

	cursor: pointer;
}

.nav-links li div{
	position: absolute;
	left: -1px;
	top: 100%;
	
	
	background: rgb(19, 19, 19);
	
}

.nav-dropdown a{
	width: 160px;
	padding: 10px 20px;

	border: 1px solid black;
}

.nav-dropdown a:hover{
	background-color: #d89400;
}
.nav-links li:hover{
	outline: 1px solid #d89400;
}

.nav-dropdown{
	display: flex;
	flex-direction: column;
}


.nav-dropdown.hidden{
	display: none;
}

#userButtons{
	display: flex;
	align-items: center;
	align-content: center;
	gap: 	16px;
}

#register{
	background: #d89400;
	
	border-radius: 6px;

	transition:background .2s ease-in-out;
}
#register:hover{
	background: linear-gradient(45deg, #921b06, #df5f5f);
	
	border-radius: 6px;
}
#login:hover{
	border-bottom: 4px solid #921b06;

	border-radius: 12px;
}