nav{
	width: 100vw;
	height: 6vh;

	position: fixed;
	top: 0;

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 50px;

	background: #131313;
	color: white;

	z-index: 99999;

	user-select: none;

	padding: 0 320px;
}

nav a, nav p{
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: flex-end;

	text-decoration: none;
	color: white;

	font-size: 1.125rem;
	padding: 10px 20px;

}

.nav-links{
	display: flex;
	gap: 20px;

	list-style-type: none;
}

.nav-links li{

	position: relative;
	cursor: pointer;
}

.nav-links li div{
	position: absolute;
	right: -1px;
	top: 100%;
	
	
	background: rgb(19, 19, 19);
	
}

.nav-dropdown a{
	width: 160px;
	padding: 10px 20px;

	border: 1px solid black;
}

.nav-dropdown a:hover{
	background-color: #d89400;
}
.nav-links li:hover{
	outline: 1px solid #d89400;
}

.nav-dropdown{
	display: flex;
	flex-direction: column;
}


.nav-dropdown.hidden{
	display: none;
}

#userButtons{
	display: flex;
	align-items: center;
	align-content: center;
	gap: 	16px;
}

#register{
	background: #d89400;
	
	border-radius: 6px;

	transition:background .2s ease-in-out;
}
#register:hover{
	background: linear-gradient(45deg, #921b06, #df5f5f);
	
	border-radius: 6px;
}
#login:hover{
	border-bottom: 4px solid #921b06;

	border-radius: 12px;
}

.user-profile{
	padding: 4px 10px;
	border: 1px solid #131313;

	position: relative;
}

.user-profile > .nav-dropdown{
	position: absolute;
	top: 43px;
	right: 0;

	background: #131313;
}

.user-profile:hover{
	border: 1px dotted #d89400;
}

.user-profile, .user-info{
	display: flex;
	align-items: center;
	align-content: center;

	justify-items: center;
}

.user-info{
	gap: 10px;
}

.user-info span{
	padding: 8px 4px; 
}

.user-info img{
	width: 32px;
	height: 32px;

	background: rgb(85, 85, 85);
	border: 2px solid #d89400;
	border-radius: 50%;
}

.login_error_message{
	width: 100%;

	font-size: .825rem;

	background: #df5f5fb9;

	padding: 16px 8px;

	outline: 2px solid #ff2600;
	border-radius:8px;

	color: rgb(255, 255, 255);

	margin-bottom: 16px;
}
